.App {
  margin: 0 auto;
  text-align: center;
  margin-top: 65px;
}

.main {
  margin-bottom: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

    